<div id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <p>quotemecarfinance.com is an independently run website owned and operated by Boost Finance Ltd. We act as an introducer
            to car finance specialist who are able to discuss and advice you on the vehicle financing options available to
            you. <br> Boost Finance Ltd is authorised and regulated by the Financial Conduct Authority. Register number 698286.
            All Rights Reserved</p>
        </div>
        <div class="col-sm-4">
          <a href="/terms#terms">Privacy &amp; Terms</a>
          <p>
            <i class="fa fa-map-marker"></i> 33 Queen Street, London EC4R 1BR
          </p>
          <p>
            <i class="fa fa-envelope"></i> <a href="mailto:info@quotemecarfinance.com" rel="nofollow" title="email info@quotemecarfinance.com">info@quotemecarfinance.com</a>
          </p>
          <p>
            <i class="fa fa-link"></i> <a href="/" target="_blank">http://www.quotemecarfinance.com</a>
          </p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <p>Our partners awards:</p>
          <div class="footer-awards-first">
            <img src="/assets/images/award1.png" alt="" width="" height="100">
            <img src="/assets/images/award3.png" alt="" width="" height="100">
          </div>
          <div class="footer-awards-second">
            <img src="/assets/images/award2.png" alt="" width="" height="65">
            <img src="/assets/images/award4.png" alt="" width="" height="100">
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center">
            Representative example: Good Credit - If you borrow £7,500 over 4 years at a representative 9.2% APR you would pay £186.05
            per month. Total charge for credit will be £1,430.17. Total amount repayable is £8,930.17
          </p>
          <p class="text-center">
            Representative example: Poor Credit - If you borrow £7,500 over 4 years at a representative 19.1% APR you would pay £218.78
            per month. Total charge for credit will be £3,001.26. Total amount repayable is £10,501.26
          </p>
          <p class="text-center footer-copyrights">Copyright 2017 © QuoteMeCarfinance.com.</p>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</div>
<!-- .footer -->
<div ng-if="footerVM.isCongratulations()">
</div>
<div ng-if="!footerVM.isCongratulations()">
</div>