.dark-links a:link,
.dark-links a:visited {
    color: rgb(11,100,104) !important;;
}
.dark-links a:hover,
.dark-links a.active,
.dark-links .active a {
    color: #fff !important;
}

.btn {
    border-radius: 11px;
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1.8;
    padding-left: 1.3rem;
    padding-right: 1.3rem;

    &,
    &:after {
        transition: all 300ms;
    }
    &:hover {
        &,
        &:after {
            transition: all 100ms;
        }
    }
    &,
    &:hover,
    &:focus {
        color: #fff;
    }
}
.btn-big {
    font-size: 1.8rem;
    line-height: 1.3;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}
.btn-form {
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.7;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}
.btn-angle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 16px;
    position: relative;

    &:after {
        border-color: transparent transparent transparent #fff;
        border-style: solid;
        border-width: 23px 0 22px 16px;
        content: '';
        height: 0;
        position: absolute;
        right: -17px;
        top: -1px;
        width: 0;
    }
}
.btn-narrow {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.button-ico {
    margin-left: 0.6rem;
    position: relative;
    right: -0.3rem;
}
.btn-dark {
    background-color: rgb(11,100,104);
}
.btn-dark:hover {
    background-color: rgb(5,59,147);
}
.btn-dark:active {
    background-color: rgb(5,79,82);
}
.btn-blue {
    background-color: rgb(28,177,183);
}
.btn-blue:hover {
    background-color: rgb(206,221,102);
}
.btn-blue:active {
    background-color: rgb(2,137,141);
}
.btn-bark-blue {
    background-color: rgb(35, 67, 158);
}
.btn-bark-blue:hover {
    background-color: rgb(35, 67, 158);
}
.btn-bark-blue:active {
    background-color: rgb(35, 67, 158);
}
.btn-orange {
    background-color: rgb(245,123,34);

    &:after {
        border-left-color: rgb(245,123,34);
    }
}
.btn-orange:hover {
    background-color: rgb(255,181,41);

    &:after {
        border-left-color: rgb(255,181,41);
    }
}
.btn-orange:active {
    background-color: rgb(245,82,27);

    &:after {
        border-left-color: rgb(245,82,27);
    }
}
.btn-green {
    background-color: #049940;

    &:after {
        border-left-color: #049940;
    }
}
.btn-green:hover {
    background-color: #41b706;

    &:after {
        border-left-color: #41b706;
    }
}
.btn-green:active {
    background-color: #048337;

    &:after {
        border-left-color: #048337;
    }
}
.btn-grey {
    background-color: #7c7c7c;
}
.btn-grey:hover {
    background-color: #949494;
}
.btn-grey:active {
    background-color: #4d4c4c;
}
.btn-arrow:after {
    background: url(/assets/images/ico-arrow.png) no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    height: 0.7em;
    margin-left: 0.5em;
    position: relative;
    right: -0.2em;
    width: 0.5em;
}
.btn-rounder {
    border-radius: 20px;
}
.btn-sign {
    border: 0;
    border-radius: 7px;
    font-size: 1.7rem;
    line-height: 1.1;
    padding: 0.1rem 0.4rem 0;
    position: relative;
}
.btn-double {
    position: relative;
}
.btn-double:before {
    border: 2px solid #fff;
    border-radius: 18px;
    bottom: 2px;
    content: '';
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.ico {
    background: no-repeat center bottom;
    background-size: contain;
}
.ico-car {
    background-image: url(/assets/images/ico-car.svg);
}
.ico-van {
    background-image: url(/assets/images/ico-van.svg);
}
.ico-bike {
    background-image: url(/assets/images/ico-bike.svg);
}
.ico-pound {
    font-size: 2rem;
}

.c-dark-blue {
    color: rgb(35, 67, 158);
}

.panel-group {
    overflow: hidden;
}
.panel-heading {
    cursor: pointer;
}